* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p,ul{
	padding-top: .5em;
	padding-bottom: .5em;
}

ul{
	margin-left: 2em;
}
/* custom property */
:root {
	--accent-color: #800000;  /* could also be coded #800 */
}

/* default styles */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 80%;
	margin: auto;
	border-style: solid;
	border-width: 2px;
	border-color: var(--accent-color);
}
a:hover, a:focus{
	font-style: italic;
	color: var(--accent-color);
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 130%;
	color: var(--accent-color);
}
h3 {
	font-size: 105%;
}

/* the styles for the header */
header {
	& h2 {
		font-size: 175%;
		padding-bottom: 0;
	}
	& h3 {
		font-size: 130%;
		font-style: italic;
		padding-bottom: 1em;
	}
	& img {
		float: left;
		margin: .75em 1em;
	}
	border-bottom-color: var(--accent-color);
	border-bottom-width: 2px;
	border-bottom-style: solid;
	background: linear-gradient(30deg, #f6bb73 0%, white 30%, white 65%, #f6bb73 100%);
}

/* the styles for the main content */
main {
	clear: left;
	padding: 0 1em 1em 1em;
	& h1{
		border-top: 2px solid;
		border-bottom: 2px solid;
		border-top-color: var(--accent-color);
		border-bottom-color: var(--accent-color);
	}
	& blockquote{
		font-style: italic;
		padding: 2em;
	}
	& img{
		border: 4px double;
		box-sizing: border-box;	
		border-color: var(--accent-color);
		border-radius: 10px;
	}
}

/* the styles for the footer */
footer {
	& p {
		text-align: center;
		color: white;
		padding-top: 1em;
		padding-bottom: 1em;
	}
	background-color: var(--accent-color);

}

/* CSS class */
.large {
	font-size: 125%;
}